  <html lang="en">
<head>
<title>Hotel App</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container">
  <header>
        <% include ../partials/header %>
    </header>
<h1>Hello World</h1>
<ul>
    <% hotels.forEach(function(hotel) { %>
        <li><a href="/hotel/<%= hotel.name %>" ><%= hotel.name %> - <%= hotel.location %></a></li>
    <% }); %>
</ul>
</body>